In [1]:
import pandas as pd
import numpy as np
import re
import datetime

In [55]:
pd.set_option('display.float', '{:.3f}'.format)
pd.options.display.max_columns = None

In [3]:
data_path = f"./data/loan_data_2007_2014.csv"

In [4]:
main_data = pd.read_csv(data_path)
data = main_data.copy()

/tmp/ipykernel_8150/823853252.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  main_data = pd.read_csv(data_path)

In [5]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,466285.000,233142.000,134605.029,0.000,116571.000,233142.000,349713.000,466284.000
id,466285.000,13079729.906,10893711.625,54734.000,3639987.000,10107897.000,20731209.000,38098114.000
member_id,466285.000,14597660.623,11682367.441,70473.000,4379705.000,11941075.000,23001541.000,40860827.000
loan_amnt,466285.000,14317.278,8286.509,500.000,8000.000,12000.000,20000.000,35000.000
funded_amnt,466285.000,14291.801,8274.371,500.000,8000.000,12000.000,20000.000,35000.000
funded_amnt_inv,466285.000,14222.330,8297.638,0.000,8000.000,12000.000,19950.000,35000.000
int_rate,466285.000,13.829,4.358,5.420,10.990,13.660,16.490,26.060
installment,466285.000,432.061,243.486,15.670,256.690,379.890,566.580,1409.990
annual_inc,466281.000,73277.381,54963.569,1896.000,45000.000,63000.000,88960.000,7500000.000
dti,466285.000,17.219,7.851,0.000,11.360,16.870,22.780,39.990
delinq_2yrs,466256.000,0.285,0.797,0.000,0.000,0.000,0.000,29.000
inq_last_6mths,466256.000,0.805,1.092,0.000,0.000,0.000,1.000,33.000
mths_since_last_delinq,215934.000,34.104,21.778,0.000,16.000,31.000,49.000,188.000
mths_since_last_record,62638.000,74.306,30.358,0.000,53.000,76.000,102.000,129.000
open_acc,466256.000,11.187,4.988,0.000,8.000,10.000,14.000,84.000
pub_rec,466256.000,0.161,0.511,0.000,0.000,0.000,0.000,63.000
revol_bal,466285.000,16230.203,20676.245,0.000,6413.000,11764.000,20333.000,2568995.000
revol_util,465945.000,56.177,23.733,0.000,39.200,57.600,74.700,892.300
total_acc,466256.000,25.064,11.600,1.000,17.000,23.000,32.000,156.000
out_prncp,466285.000,4410.062,6355.079,0.000,0.000,441.470,7341.650,32160.380
out_prncp_inv,466285.000,4408.452,6353.198,0.000,0.000,441.380,7338.390,32160.380
total_pymnt,466285.000,11540.686,8265.627,0.000,5552.125,9419.251,15308.158,57777.580
total_pymnt_inv,466285.000,11469.893,8254.158,0.000,5499.250,9355.430,15231.310,57777.580
total_rec_prncp,466285.000,8866.015,7031.688,0.000,3708.560,6817.760,12000.000,35000.030
total_rec_int,466285.000,2588.677,2483.810,0.000,957.280,1818.880,3304.530,24205.620
total_rec_late_fee,466285.000,0.650,5.266,0.000,0.000,0.000,0.000,358.680
recoveries,466285.000,85.344,552.216,0.000,0.000,0.000,0.000,33520.270
collection_recovery_fee,466285.000,8.962,85.491,0.000,0.000,0.000,0.000,7002.190
last_pymnt_amnt,466285.000,3123.914,5554.737,0.000,312.620,545.960,3187.510,36234.440
collections_12_mths_ex_med,466140.000,0.009,0.109,0.000,0.000,0.000,0.000,20.000
mths_since_last_major_derog,98974.000,42.853,21.663,0.000,26.000,42.000,59.000,188.000
policy_code,466285.000,1.000,0.000,1.000,1.000,1.000,1.000,1.000
annual_inc_joint,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dti_joint,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
verification_status_joint,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,466256.000,0.004,0.069,0.000,0.000,0.000,0.000,5.000
tot_coll_amt,396009.000,191.914,14630.215,0.000,0.000,0.000,0.000,9152545.000
tot_cur_bal,396009.000,138801.713,152114.663,0.000,28618.000,81539.000,208953.000,8000078.000
open_acc_6m,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_il_6m,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_il_12m,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_il_24m,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mths_since_rcnt_il,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_bal_il,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
il_util,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_rv_12m,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_rv_24m,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max_bal_bc,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
all_util,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_rev_hi_lim,396009.000,30379.088,37247.130,0.000,13500.000,22800.000,37900.000,9999999.000
inq_fi,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_cu_tl,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inq_last_12m,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.000,36 months,10.650,162.870,B,B2,NaN,10+ years,RENT,24000.000,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.650,0.000,Jan-85,1.000,NaN,NaN,3.000,0.000,13648,83.700,9.000,f,0.000,0.000,5861.071,5831.780,5000.000,861.070,0.000,0.000,0.000,Jan-15,171.620,NaN,Jan-16,0.000,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.000,60 months,15.270,59.830,C,C4,Ryder,< 1 year,RENT,30000.000,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.000,0.000,Apr-99,5.000,NaN,NaN,3.000,0.000,1687,9.400,4.000,f,0.000,0.000,1008.710,1008.710,456.460,435.170,0.000,117.080,1.110,Apr-13,119.660,NaN,Sep-13,0.000,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.000,36 months,15.960,84.330,C,C5,NaN,10+ years,RENT,12252.000,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.720,0.000,Nov-01,2.000,NaN,NaN,2.000,0.000,2956,98.500,10.000,f,0.000,0.000,3003.654,3003.650,2400.000,603.650,0.000,0.000,0.000,Jun-14,649.910,NaN,Jan-16,0.000,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.000,36 months,13.490,339.310,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.000,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.000,0.000,Feb-96,1.000,35.000,NaN,10.000,0.000,5598,21.000,37.000,f,0.000,0.000,12226.302,12226.300,10000.000,2209.330,16.970,0.000,0.000,Jan-15,357.480,NaN,Jan-15,0.000,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.000,60 months,12.690,67.790,B,B5,University Medical Group,1 year,RENT,80000.000,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.940,0.000,Jan-96,0.000,38.000,NaN,15.000,0.000,27783,53.900,38.000,f,766.900,766.900,3242.170,3242.170,2233.100,1009.070,0.000,0.000,0.000,Jan-16,67.790,Feb-16,Jan-16,0.000,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125981 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466264 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

In [8]:
data.dtypes.value_counts()

float64    46
object     22
int64       7
Name: count, dtype: int64

In [44]:
data.select_dtypes(include="object").columns.values

array(['grade', 'sub_grade', 'emp_title', 'home_ownership',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state',
       'earliest_cr_line', 'initial_list_status', 'last_pymnt_d',
       'next_pymnt_d', 'last_credit_pull_d', 'application_type'],
      dtype=object)

First lets confirm that our contunous varibles are numeric. Lets get rid of stirngs and alphanumeircs. Strip the number

In [9]:
data.grade.unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [10]:
data.term.unique()

array([' 36 months', ' 60 months'], dtype=object)

In [11]:
def transform_term(val): return np.float32(re.search(r'\d+', str(val)).group()) if re.search(r'\d+', str(val)) else np.float32(0)

In [12]:
data["term"] = data["term"].apply(transform_term)

In [13]:
print(type(data.term[0]))
data.term.unique()

<class 'numpy.float32'>

array([36., 60.], dtype=float32)

In [14]:
data.emp_length.unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [15]:
def transform_empl_length(val):
    return np.float64(re.search(r'\d+', str(val)).group()) if re.search(r'\d+', str(val)) else np.float64(0)

In [16]:
data["emp_length"] = data["emp_length"].apply(transform_empl_length)

In [17]:
print(type(data["emp_length"][0]))
data.emp_length.unique()

<class 'numpy.float64'>

array([10.,  1.,  3.,  8.,  9.,  4.,  5.,  6.,  2.,  7.,  0.])

earliest_cr_line: The month the borrower's earliest reported credit line was opened. Here we will count the number of months past since the earliest credit line was issued.

In [18]:
data.earliest_cr_line

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

In [19]:
data.earliest_cr_line.isna().sum()

29

In [30]:
def transform_date_by_month(val):
    if pd.isna(val):
        return pd.NA  # Return NaN if the input is NaN
    else:
        converted = pd.to_datetime(val, format="%b-%y")
        months_difference = (pd.to_datetime("2023-11-01") - converted) / pd.Timedelta(4, 'W')
        rounded_months = round(pd.to_numeric(months_difference))
        return rounded_months

In [21]:
data["earliest_cr_line_date"] = pd.to_datetime(data["earliest_cr_line"], format="%b-%y")

In [22]:

data["months_since_earliest_cr_line"] = round(pd.to_numeric((pd.to_datetime("2023-11-01") - data["earliest_cr_line_date"])/ pd.Timedelta(4, 'W')))
data["months_since_earliest_cr_line"].describe()

count   466256.000
mean       337.510
std        102.157
min       -588.000
25%        276.000
50%        322.000
75%        387.000
max        715.000
Name: months_since_earliest_cr_line, dtype: float64

We have detected the negative time since the earliest credit line date. Lets explore more.

In [23]:
data["earliest_cr_line_date"].isna().sum()

29

In [24]:
data.loc[:, ["earliest_cr_line", "earliest_cr_line_date", "months_since_earliest_cr_line"]][data["months_since_earliest_cr_line"] < 0]

       earliest_cr_line earliest_cr_line_date  months_since_earliest_cr_line
1580             Sep-62            2062-09-01                       -507.000
1770             Sep-68            2068-09-01                       -585.000
2799             Sep-64            2064-09-01                       -533.000
3282             Sep-67            2067-09-01                       -572.000
3359             Feb-65            2065-02-01                       -538.000
...                 ...                   ...                            ...
464003           Jan-68            2068-01-01                       -576.000
464260           Jul-66            2066-07-01                       -557.000
465100           Oct-67            2067-10-01                       -573.000
465500           Sep-67            2067-09-01                       -572.000
465655           Jan-56            2056-01-01                       -420.000

[1169 rows x 3 columns]

We can see that many rows have future time time such as Sep-62. These variables are incorreectly converted into Sept 2062 - becuase the origin of the built-in time scale starts after 1970. We colud solve this issue by preprocessing the data or impute with maximum values of this variable. I will choose later.

In [25]:
data.loc[data["months_since_earliest_cr_line"] < 0, "months_since_earliest_cr_line"] = data["months_since_earliest_cr_line"].max()
data["months_since_earliest_cr_line"].min()

157.0

Lets look at issued at date (issue_d).

In [36]:
data.issue_d

0         Dec-11
1         Dec-11
2         Dec-11
3         Dec-11
4         Dec-11
           ...
466280    Jan-14
466281    Jan-14
466282    Jan-14
466283    Jan-14
466284    Jan-14
Name: issue_d, Length: 466285, dtype: object

In [40]:
data["issue_d_date"] = pd.to_datetime(data["issue_d"], format="%b-%y")
data["months_since_issied_date"] = round(pd.to_numeric((pd.to_datetime("2023-11-01") - data["issue_d_date"])/ pd.Timedelta(4, "W")))
print(type(data["months_since_issied_date"][0]))
data["months_since_issied_date"].describe()

<class 'numpy.float64'>

count   466285.000
mean       132.860
std         15.627
min        116.000
25%        122.000
50%        128.000
75%        139.000
max        214.000
Name: months_since_issied_date, dtype: float64

In [49]:
objLs = data.select_dtypes(include="object").columns.values
for col in objLs:
    print(f"{data[col].value_counts()}\n==========================================================")

grade
B    136929
C    125293
D     76888
A     74867
E     35757
F     13229
G      3322
Name: count, dtype: int64
==========================================================
sub_grade
B3    31686
B4    30505
C1    26953
C2    26740
B2    26610
C3    25317
B5    25252
C4    24105
B1    22876
C5    22178
A5    21757
D1    19261
A4    19045
D2    17046
D3    14916
D4    14099
A3    12568
D5    11566
A2    10956
A1    10541
E1     9033
E2     8669
E3     6976
E4     5992
E5     5087
F1     3940
F2     3001
F3     2708
F4     2067
F5     1513
G1     1109
G2      823
G3      583
G4      422
G5      385
Name: count, dtype: int64
==========================================================
emp_title
Teacher                              5399
Manager                              4438
Registered Nurse                     2316
RN                                   2204
Supervisor                           1967
                                     ...
The Eastern Arizona AHEC                1
Delaware Quarries.com                   1
McCauley trucking and warehousing       1
save mart supermarkets                  1
Server Engineer Lead                    1
Name: count, Length: 205475, dtype: int64
==========================================================
home_ownership
MORTGAGE    235875
RENT        188473
OWN          41704
OTHER          182
NONE            50
ANY              1
Name: count, dtype: int64
==========================================================
verification_status
Verified           168055
Source Verified    149993
Not Verified       148237
Name: count, dtype: int64
==========================================================
issue_d
Oct-14    38782
Jul-14    29306
Nov-14    25054
May-14    19099
Apr-14    19071
          ...
Aug-07       74
Jul-07       63
Sep-08       57
Sep-07       53
Jun-07       24
Name: count, Length: 91, dtype: int64
==========================================================
loan_status
Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: count, dtype: int64
==========================================================
pymnt_plan
n    466276
y         9
Name: count, dtype: int64
==========================================================
url
https://www.lendingclub.com/browse/loanDetail.action?loan_id=1077501     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=26180404    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=26219322    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=26239577    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=26290537    1
                                                                        ..
https://www.lendingclub.com/browse/loanDetail.action?loan_id=3714715     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=3703738     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=3731030     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=3705772     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=9199665     1
Name: count, Length: 466285, dtype: int64
==========================================================
desc
                                                                                                                                                                                                                                                 234
Debt Consolidation                                                                                                                                                                                                                                13
  Borrower added on 03/17/14 > Debt consolidation<br>                                                                                                                                                                                             11
  Borrower added on 03/10/14 > Debt consolidation<br>                                                                                                                                                                                             10
  Borrower added on 02/19/14 > Debt consolidation<br>                                                                                                                                                                                              9
                                                                                                                                                                                                                                                ...
  Borrower added on 09/24/13 > Credit debt<br>                                                                                                                                                                                                     1
  Borrower added on 09/24/13 > wish to consolidate loans<br>                                                                                                                                                                                       1
  Borrower added on 09/24/13 > To payoff credit card debt<br>                                                                                                                                                                                      1
  Borrower added on 09/24/13 > To consolidate my debt by paying of my mortgage which is 278 a month my car payment which is 278 a month and 2 credit cards  which total 1800. By doing this I would free up an extra 200 dollars a month.<br>      1
  Borrower added on 12/04/13 > I will like a loan to fix  our cars and paid our house property tax<br>                                                                                                                                             1
Name: count, Length: 124435, dtype: int64
==========================================================
purpose
debt_consolidation    274195
credit_card           104157
home_improvement       26537
other                  23690
major_purchase          9828
small_business          7013
car                     5397
medical                 4602
moving                  2994
vacation                2487
wedding                 2343
house                   2269
educational              422
renewable_energy         351
Name: count, dtype: int64
==========================================================
title
Debt consolidation                   164075
Credit card refinancing               62275
Debt Consolidation                    15760
Home improvement                      14849
Other                                 12713
                                      ...
Windows and Siding                        1
Credit Card Clearance                     1
credit repayment                          1
medical bills/credit card payoff          1
Paying off the car and some bills         1
Name: count, Length: 63098, dtype: int64
==========================================================
zip_code
945xx    5304
112xx    5102
750xx    5013
606xx    4696
100xx    4391
         ...
204xx       1
502xx       1
514xx       1
049xx       1
901xx       1
Name: count, Length: 888, dtype: int64
==========================================================
addr_state
CA    71450
NY    40242
TX    36439
FL    31637
IL    18612
NJ    18061
PA    16424
OH    15237
GA    14975
VA    14222
NC    12682
MI    11549
MA    11072
MD    10974
AZ    10712
WA    10517
CO     9739
MN     8158
MO     7508
CT     7204
IN     6525
NV     6519
TN     5984
OR     5949
WI     5911
AL     5853
SC     5583
LA     5489
KY     4438
KS     4190
OK     4117
AR     3488
UT     3428
NM     2588
HI     2487
WV     2412
NH     2232
RI     2050
DC     1426
MT     1396
DE     1272
AK     1251
MS     1226
WY     1128
SD      980
VT      905
IA       14
NE       14
ID       12
ME        4
Name: count, dtype: int64
==========================================================
earliest_cr_line
Oct-00    3674
Aug-00    3597
Aug-01    3455
Oct-99    3406
Oct-01    3329
          ...
Jul-55       1
Feb-57       1
Oct-54       1
May-53       1
Nov-56       1
Name: count, Length: 664, dtype: int64
==========================================================
initial_list_status
f    303005
w    163280
Name: count, dtype: int64
==========================================================
last_pymnt_d
Jan-16    179620
Dec-15     62000
Jul-15     11703
Oct-15     11248
Sep-15     10204
           ...
Jun-08        20
Mar-08        18
Jan-08        11
Feb-08         8
Dec-07         2
Name: count, Length: 98, dtype: int64
==========================================================
next_pymnt_d
Feb-16    208393
Jan-16     27922
Mar-11       107
Apr-11       101
Feb-11        91
           ...
Oct-14         2
Feb-08         2
May-08         1
Mar-15         1
Dec-07         1
Name: count, Length: 100, dtype: int64
==========================================================
last_credit_pull_d
Jan-16    327699
Dec-15     13992
Nov-15      8384
Sep-15      8051
Oct-15      7957
           ...
Nov-07         3
May-08         1
Jun-08         1
Jul-08         1
Jul-07         1
Name: count, Length: 103, dtype: int64
==========================================================
application_type
INDIVIDUAL    466285
Name: count, dtype: int64
==========================================================

Lets explore discrete variables. I am going to use one-hot encoding for this exploration. The feature variable will increase by k-1 for each category in each variable. Variables such as:
- grade
- sub_grade
- home_ownership
- verification status 
- loan_status 
- purpose
- addr_state
- initial_list_status

In [50]:
one_hot_data = []
one_hot_variables = ["grade", "sub_grade", "home_ownership", "verification_status", "loan_status", "purpose", "addr_state", "initial_list_status"]

for category in one_hot_variables:
    one_hot_data.append(pd.get_dummies(data[category], prefix=category, prefix_sep="_"))

one_hot_data = pd.concat(one_hot_data, axis=1)
print(f"shape: {one_hot_data.shape}, type: {type(one_hot_data)}")

shape: (466285, 126), type: <class 'pandas.core.frame.DataFrame'>

concatenate with dataframe.

In [52]:
data =pd.concat([data, one_hot_data], axis=1)
print(f"new shape:{data.shape}")
data.columns.values

new shape:(466285, 205)

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'earliest_cr_line_date', 'months_since_earliest_cr_line',
       'issue_d_date', 'months_since_issied_date', 'grade_A', 'grade_B',
       'grade_C', 'grade_D', 'grade_E', 'grade_F', 'grade_G',
       'sub_grade_A1', 'sub_grade_A2', 'sub_grade_A3', 'sub_grade_A4',
       'sub_grade_A5', 'sub_grade_B1', 'sub_grade_B2', 'sub_grade_B3',
       'sub_grade_B4', 'sub_grade_B5', 'sub_grade_C1', 'sub_grade_C2',
       'sub_grade_C3', 'sub_grade_C4', 'sub_grade_C5', 'sub_grade_D1',
       'sub_grade_D2', 'sub_grade_D3', 'sub_grade_D4', 'sub_grade_D5',
       'sub_grade_E1', 'sub_grade_E2', 'sub_grade_E3', 'sub_grade_E4',
       'sub_grade_E5', 'sub_grade_F1', 'sub_grade_F2', 'sub_grade_F3',
       'sub_grade_F4', 'sub_grade_F5', 'sub_grade_G1', 'sub_grade_G2',
       'sub_grade_G3', 'sub_grade_G4', 'sub_grade_G5',
       'home_ownership_ANY', 'home_ownership_MORTGAGE',
       'home_ownership_NONE', 'home_ownership_OTHER',
       'home_ownership_OWN', 'home_ownership_RENT',
       'verification_status_Not Verified',
       'verification_status_Source Verified',
       'verification_status_Verified', 'loan_status_Charged Off',
       'loan_status_Current', 'loan_status_Default',
       'loan_status_Does not meet the credit policy. Status:Charged Off',
       'loan_status_Does not meet the credit policy. Status:Fully Paid',
       'loan_status_Fully Paid', 'loan_status_In Grace Period',
       'loan_status_Late (16-30 days)', 'loan_status_Late (31-120 days)',
       'purpose_car', 'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement', 'purpose_house',
       'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
       'purpose_other', 'purpose_renewable_energy',
       'purpose_small_business', 'purpose_vacation', 'purpose_wedding',
       'addr_state_AK', 'addr_state_AL', 'addr_state_AR', 'addr_state_AZ',
       'addr_state_CA', 'addr_state_CO', 'addr_state_CT', 'addr_state_DC',
       'addr_state_DE', 'addr_state_FL', 'addr_state_GA', 'addr_state_HI',
       'addr_state_IA', 'addr_state_ID', 'addr_state_IL', 'addr_state_IN',
       'addr_state_KS', 'addr_state_KY', 'addr_state_LA', 'addr_state_MA',
       'addr_state_MD', 'addr_state_ME', 'addr_state_MI', 'addr_state_MN',
       'addr_state_MO', 'addr_state_MS', 'addr_state_MT', 'addr_state_NC',
       'addr_state_NE', 'addr_state_NH', 'addr_state_NJ', 'addr_state_NM',
       'addr_state_NV', 'addr_state_NY', 'addr_state_OH', 'addr_state_OK',
       'addr_state_OR', 'addr_state_PA', 'addr_state_RI', 'addr_state_SC',
       'addr_state_SD', 'addr_state_TN', 'addr_state_TX', 'addr_state_UT',
       'addr_state_VA', 'addr_state_VT', 'addr_state_WA', 'addr_state_WI',
       'addr_state_WV', 'addr_state_WY', 'initial_list_status_f',
       'initial_list_status_w'], dtype=object)

Now, lets deal with missing values.

In [59]:
pd.options.display.max_rows = None
data.isnull().sum().sort_values(ascending=False)

open_il_6m                                                         466285
max_bal_bc                                                         466285
annual_inc_joint                                                   466285
dti_joint                                                          466285
verification_status_joint                                          466285
open_acc_6m                                                        466285
open_il_24m                                                        466285
mths_since_rcnt_il                                                 466285
total_bal_il                                                       466285
il_util                                                            466285
open_rv_12m                                                        466285
open_rv_24m                                                        466285
open_il_12m                                                        466285
all_util                                                           466285
inq_fi                                                             466285
inq_last_12m                                                       466285
total_cu_tl                                                        466285
mths_since_last_record                                             403647
mths_since_last_major_derog                                        367311
desc                                                               340304
mths_since_last_delinq                                             250351
next_pymnt_d                                                       227214
total_rev_hi_lim                                                    70276
tot_coll_amt                                                        70276
tot_cur_bal                                                         70276
emp_title                                                           27588
last_pymnt_d                                                          376
revol_util                                                            340
collections_12_mths_ex_med                                            145
last_credit_pull_d                                                     42
earliest_cr_line                                                       29
earliest_cr_line_date                                                  29
inq_last_6mths                                                         29
total_acc                                                              29
acc_now_delinq                                                         29
months_since_earliest_cr_line                                          29
open_acc                                                               29
delinq_2yrs                                                            29
pub_rec                                                                29
title                                                                  21
annual_inc                                                              4
addr_state_CT                                                           0
addr_state_DC                                                           0
addr_state_DE                                                           0
addr_state_FL                                                           0
addr_state_CO                                                           0
addr_state_CA                                                           0
purpose_small_business                                                  0
addr_state_AZ                                                           0
purpose_car                                                             0
home_ownership_OWN                                                      0
home_ownership_RENT                                                     0
verification_status_Not Verified                                        0
verification_status_Source Verified                                     0
verification_status_Verified                                            0
loan_status_Charged Off                                                 0
loan_status_Current                                                     0
loan_status_Default                                                     0
loan_status_Does not meet the credit policy. Status:Charged Off         0
loan_status_Does not meet the credit policy. Status:Fully Paid          0
loan_status_Fully Paid                                                  0
loan_status_In Grace Period                                             0
loan_status_Late (16-30 days)                                           0
loan_status_Late (31-120 days)                                          0
purpose_credit_card                                                     0
addr_state_AR                                                           0
purpose_debt_consolidation                                              0
purpose_educational                                                     0
purpose_home_improvement                                                0
purpose_house                                                           0
purpose_major_purchase                                                  0
purpose_medical                                                         0
purpose_moving                                                          0
purpose_other                                                           0
purpose_renewable_energy                                                0
addr_state_HI                                                           0
purpose_vacation                                                        0
purpose_wedding                                                         0
addr_state_AK                                                           0
addr_state_AL                                                           0
addr_state_GA                                                           0
Unnamed: 0                                                              0
addr_state_IA                                                           0
addr_state_NV                                                           0
addr_state_OH                                                           0
addr_state_OK                                                           0
addr_state_OR                                                           0
addr_state_PA                                                           0
addr_state_RI                                                           0
addr_state_SC                                                           0
addr_state_SD                                                           0
addr_state_TN                                                           0
addr_state_TX                                                           0
addr_state_UT                                                           0
addr_state_VA                                                           0
addr_state_VT                                                           0
addr_state_WA                                                           0
addr_state_WI                                                           0
addr_state_WV                                                           0
addr_state_WY                                                           0
initial_list_status_f                                                   0
addr_state_NY                                                           0
addr_state_NM                                                           0
addr_state_ID                                                           0
addr_state_NJ                                                           0
addr_state_IL                                                           0
addr_state_IN                                                           0
addr_state_KS                                                           0
home_ownership_NONE                                                     0
addr_state_KY                                                           0
addr_state_LA                                                           0
addr_state_MA                                                           0
addr_state_MD                                                           0
addr_state_ME                                                           0
addr_state_MI                                                           0
addr_state_MN                                                           0
addr_state_MO                                                           0
addr_state_MS                                                           0
addr_state_MT                                                           0
addr_state_NC                                                           0
addr_state_NE                                                           0
addr_state_NH                                                           0
home_ownership_OTHER                                                    0
sub_grade_D2                                                            0
home_ownership_MORTGAGE                                                 0
grade_C                                                                 0
revol_bal                                                               0
initial_list_status                                                     0
out_prncp                                                               0
out_prncp_inv                                                           0
total_pymnt                                                             0
total_pymnt_inv                                                         0
total_rec_prncp                                                         0
total_rec_int                                                           0
total_rec_late_fee                                                      0
recoveries                                                              0
collection_recovery_fee                                                 0
last_pymnt_amnt                                                         0
policy_code                                                             0
application_type                                                        0
issue_d_date                                                            0
months_since_issied_date                                                0
grade_A                                                                 0
dti                                                                     0
addr_state                                                              0
zip_code                                                                0
grade                                                                   0
member_id                                                               0
loan_amnt                                                               0
funded_amnt                                                             0
funded_amnt_inv                                                         0
term                                                                    0
int_rate                                                                0
installment                                                             0
sub_grade                                                               0
purpose                                                                 0
emp_length                                                              0
home_ownership                                                          0
verification_status                                                     0
issue_d                                                                 0
loan_status                                                             0
pymnt_plan                                                              0
url                                                                     0
grade_B                                                                 0
grade_D                                                                 0
home_ownership_ANY                                                      0
grade_E                                                                 0
sub_grade_D4                                                            0
sub_grade_D5                                                            0
sub_grade_E1                                                            0
sub_grade_E2                                                            0
sub_grade_E3                                                            0
sub_grade_E4                                                            0
sub_grade_E5                                                            0
sub_grade_F1                                                            0
sub_grade_F2                                                            0
sub_grade_F3                                                            0
sub_grade_F4                                                            0
sub_grade_F5                                                            0
sub_grade_G1                                                            0
sub_grade_G2                                                            0
sub_grade_G3                                                            0
sub_grade_G4                                                            0
sub_grade_G5                                                            0
sub_grade_D3                                                            0
id                                                                      0
sub_grade_D1                                                            0
sub_grade_B1                                                            0
grade_F                                                                 0
grade_G                                                                 0
sub_grade_A1                                                            0
sub_grade_A2                                                            0
sub_grade_A3                                                            0
sub_grade_A4                                                            0
sub_grade_A5                                                            0
sub_grade_B2                                                            0
sub_grade_C5                                                            0
sub_grade_B3                                                            0
sub_grade_B4                                                            0
sub_grade_B5                                                            0
sub_grade_C1                                                            0
sub_grade_C2                                                            0
sub_grade_C3                                                            0
sub_grade_C4                                                            0
initial_list_status_w                                                   0
dtype: int64

lets find out the missing number and drop the varibale id it is missing more than 70% of data.

In [71]:
droppables = []
imputabels = []

for variable in data.columns.values:
    ratio = data[variable].isnull().sum() / data.shape[0]
    if ratio > 0.7: droppables.append(variable)
    if ratio > 0 and ratio < 0.7: imputabels.append(variable)

print(f"drops ({len(droppables)}): {droppables}\nimputables ({len(imputabels)}): {imputabels}")

drops (20): ['desc', 'mths_since_last_record', 'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'inq_last_12m']
imputables (21): ['emp_title', 'annual_inc', 'title', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_util', 'total_acc', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim', 'earliest_cr_line_date', 'months_since_earliest_cr_line']

In [72]:
print(f"Before dropping cols: {data.shape}")
data.drop(columns=droppables, inplace=True)
print(f"After dropping cols: {data.shape}")

Before dropping cols: (466285, 205)
After dropping cols: (466285, 185)

Total revolving high credit limit / credit limit, Failry, the missing values are equal to funded_amnt. Similarly, we have only 4 missing entries in annual_inc variable. It would be reasonable to fill with mean values,

In [73]:
data['total_rev_hi_lim'].fillna(data['funded_amnt'], inplace=True)

In [74]:
data["annual_inc"].describe()

count    466281.000
mean      73277.381
std       54963.569
min        1896.000
25%       45000.000
50%       63000.000
75%       88960.000
max     7500000.000
Name: annual_inc, dtype: float64

In [75]:
data["annual_inc"].fillna(data["annual_inc"].mean(), inplace=True)

In [78]:
# picked numeric faetures 
cols_to_impute_with_zeros = ["months_since_earliest_cr_line", "acc_now_delinq", "total_acc", "pub_rec", "inq_last_6mths", "delinq_2yrs"]
for col in cols_to_impute_with_zeros:
    data[col].fillna(0, inplace=True)

In [81]:
data.isnull().sum().sort_values(ascending=False)

mths_since_last_delinq                                             250351
next_pymnt_d                                                       227214
tot_cur_bal                                                         70276
tot_coll_amt                                                        70276
emp_title                                                           27588
last_pymnt_d                                                          376
revol_util                                                            340
collections_12_mths_ex_med                                            145
last_credit_pull_d                                                     42
open_acc                                                               29
earliest_cr_line                                                       29
earliest_cr_line_date                                                  29
title                                                                  21
loan_status_Charged Off                                                 0
addr_state_CA                                                           0
purpose_small_business                                                  0
purpose_vacation                                                        0
purpose_wedding                                                         0
addr_state_AK                                                           0
addr_state_AL                                                           0
addr_state_AR                                                           0
addr_state_AZ                                                           0
home_ownership_RENT                                                     0
home_ownership_OWN                                                      0
purpose_other                                                           0
home_ownership_OTHER                                                    0
home_ownership_NONE                                                     0
addr_state_CO                                                           0
addr_state_CT                                                           0
addr_state_DC                                                           0
home_ownership_MORTGAGE                                                 0
home_ownership_ANY                                                      0
addr_state_DE                                                           0
purpose_renewable_energy                                                0
purpose_moving                                                          0
loan_status_Current                                                     0
purpose_credit_card                                                     0
loan_status_Default                                                     0
loan_status_Does not meet the credit policy. Status:Charged Off         0
loan_status_Does not meet the credit policy. Status:Fully Paid          0
loan_status_Fully Paid                                                  0
loan_status_In Grace Period                                             0
loan_status_Late (16-30 days)                                           0
loan_status_Late (31-120 days)                                          0
purpose_car                                                             0
purpose_debt_consolidation                                              0
purpose_medical                                                         0
purpose_educational                                                     0
verification_status_Verified                                            0
purpose_home_improvement                                                0
addr_state_FL                                                           0
verification_status_Source Verified                                     0
purpose_house                                                           0
purpose_major_purchase                                                  0
verification_status_Not Verified                                        0
Unnamed: 0                                                              0
addr_state_ID                                                           0
addr_state_GA                                                           0
addr_state_TN                                                           0
addr_state_NY                                                           0
addr_state_OH                                                           0
addr_state_OK                                                           0
addr_state_OR                                                           0
addr_state_PA                                                           0
addr_state_RI                                                           0
addr_state_SC                                                           0
addr_state_SD                                                           0
addr_state_TX                                                           0
addr_state_HI                                                           0
addr_state_UT                                                           0
addr_state_VA                                                           0
addr_state_VT                                                           0
addr_state_WA                                                           0
addr_state_WI                                                           0
addr_state_WV                                                           0
addr_state_WY                                                           0
initial_list_status_f                                                   0
addr_state_NV                                                           0
addr_state_NM                                                           0
addr_state_NJ                                                           0
addr_state_NH                                                           0
addr_state_IA                                                           0
sub_grade_G4                                                            0
addr_state_IL                                                           0
addr_state_IN                                                           0
addr_state_KS                                                           0
addr_state_KY                                                           0
addr_state_LA                                                           0
addr_state_MA                                                           0
addr_state_MD                                                           0
addr_state_ME                                                           0
addr_state_MI                                                           0
addr_state_MN                                                           0
addr_state_MO                                                           0
addr_state_MS                                                           0
addr_state_MT                                                           0
addr_state_NC                                                           0
addr_state_NE                                                           0
sub_grade_G5                                                            0
sub_grade_F2                                                            0
sub_grade_G3                                                            0
total_pymnt                                                             0
delinq_2yrs                                                             0
inq_last_6mths                                                          0
pub_rec                                                                 0
revol_bal                                                               0
total_acc                                                               0
initial_list_status                                                     0
out_prncp                                                               0
out_prncp_inv                                                           0
total_pymnt_inv                                                         0
total_rev_hi_lim                                                        0
total_rec_prncp                                                         0
total_rec_int                                                           0
total_rec_late_fee                                                      0
recoveries                                                              0
collection_recovery_fee                                                 0
last_pymnt_amnt                                                         0
policy_code                                                             0
application_type                                                        0
dti                                                                     0
addr_state                                                              0
zip_code                                                                0
purpose                                                                 0
member_id                                                               0
loan_amnt                                                               0
funded_amnt                                                             0
funded_amnt_inv                                                         0
term                                                                    0
int_rate                                                                0
installment                                                             0
grade                                                                   0
sub_grade                                                               0
emp_length                                                              0
home_ownership                                                          0
annual_inc                                                              0
verification_status                                                     0
issue_d                                                                 0
loan_status                                                             0
pymnt_plan                                                              0
url                                                                     0
acc_now_delinq                                                          0
months_since_earliest_cr_line                                           0
sub_grade_G2                                                            0
sub_grade_E2                                                            0
sub_grade_C4                                                            0
sub_grade_C5                                                            0
sub_grade_D1                                                            0
sub_grade_D2                                                            0
sub_grade_D3                                                            0
sub_grade_D4                                                            0
sub_grade_D5                                                            0
sub_grade_E1                                                            0
sub_grade_E3                                                            0
issue_d_date                                                            0
sub_grade_E4                                                            0
sub_grade_E5                                                            0
sub_grade_F1                                                            0
id                                                                      0
sub_grade_F3                                                            0
sub_grade_F4                                                            0
sub_grade_F5                                                            0
sub_grade_G1                                                            0
sub_grade_C3                                                            0
sub_grade_C2                                                            0
sub_grade_C1                                                            0
sub_grade_B5                                                            0
months_since_issied_date                                                0
grade_A                                                                 0
grade_B                                                                 0
grade_C                                                                 0
grade_D                                                                 0
grade_E                                                                 0
grade_F                                                                 0
grade_G                                                                 0
sub_grade_A1                                                            0
sub_grade_A2                                                            0
sub_grade_A3                                                            0
sub_grade_A4                                                            0
sub_grade_A5                                                            0
sub_grade_B1                                                            0
sub_grade_B2                                                            0
sub_grade_B3                                                            0
sub_grade_B4                                                            0
initial_list_status_w                                                   0
dtype: int64